# Directories
**/H2O Models/
**/HypParam Plots/
**/Logs/
**/Model metadata/
**/Parameters and functions/
**/Processed data/
**/Strategy graphics/

# Files
**/UFC_Program_flow.xlsx
**/ZZZ_ExtraCodeImplementBetStrat.R
**/5a_AUF.csv